{% extends 'chancemeuci/base.html' %}
{% block body %}
    <div class = "container-fluid">
        <div class = "row">
            <div class="col-sm-4 col-sm-offset-0">
              <div class="panel panel-default">
                    <div class = "panel-body">
                        <form class = "form-horizontal" action = "" method = "post" enctype = "multipart/form-data">
                            {% csrf_token %}
                            {% include 'chancemeuci/form-template.html' %}
                            <div class = "form-group">
                                <div class = "col-sm-offset-6 col-sm-6">
                                    <button type = "submit" class = "btn btn-success"> Chance Me! </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "col-sm-8">
                <div  class="panel panel-default">
                    <h3>
                        <p class="text-center">{{ chances }}</p>
                    </h3>
                    <h4>
                        <p class="text-center">{{ hs }}</p><br/>
                    </h4>
                    {% include 'chancemeuci/table-template.html' %}
                </div>
            </div>
            <div>
                <p class="text-center"> Disclaimer - Other than as an undergraduate student, I am not affiliated with the University of California, Irvine.
                                        This calculator cannot predict your exact chances of admission into UC Irvine, but it will provide an estimate and
                                        range based on 2016 data.</p>
                <p class="text-center"> © Kenny Huynh 2017 </p>
                <p class="text-center"> www.howtohuynh.com </p>
            </div>
        </div>
    </div>
<style>



</style>

{% endblock %}