{% extends 'chancemeuci/base.html' %}
{% block body %}
    <div class = "container-fluid">
        <div class = "row">
            <div class="col-sm-5 col-sm-offset-0">
              <div class="panel panel-default">
                    <div class = "panel-body">
                        <form class = "form-horizontal" action = "" method = "post" enctype = "multipart/form-data">
                            {% csrf_token %}
                            {% include 'chancemeuci/form-template.html' %}
                            <div class = "form-group">
                                <div class = "col-sm-offset-9 col-sm-3">
                                    <button type = "submit" class = "btn btn-success"> Chance Me! </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "col-sm-7">
                <div  class="panel panel-default">
{#                    <form class = "form-horizontal" action = "" method = "post" enctype = "multipart/form-data">#}
{#                    {{ chances }}<br />#}
{#                    {{ range }} <br />#}
{#                    {{ form_data }} <br />#}
                    {{ ld }} <br />
                    {{ hd }}
{#                        {% csrf_token %}#}
                        {% include 'chancemeuci/table-template.html' %}
{#                    </form>#}
                </div>
            </div>
        </div>
    </div>
<style>



</style>

{% endblock %}