

<table class="table table-sm table-hover">
  <thead>
    <tr>
        <th>Description</th>
        <th>Your Stats</th>
        <th>Applied</th>
        <th>Admitted</th>
        <th>Enrolled</th>
        <th>Selectivity</th>
        <th>Yield</th>
        <th>GPA</th>
        <th>Verbal</th>
        <th>Math</th>
        <th>Writing</th>
    </tr>
  </thead>
  <tbody>
{#    <tr>#}
        {% for field in ld %}
            <tr>
            {% for x in field %}
                {% if x|length == 2 %}
                    {% for value in x %}
                        <td> {{ value }}</td>
                    {% endfor%}
                {% elif x|length == 5 %}
                    {% for key, value in x.items %}
                        <td> {{ value }}</td>
                        {% endfor %}
                    <td> {{ "N/A" }}</td>
                    <td> {{ "N/A" }}</td>
                    <td> {{ "N/A" }}</td>
                    <td> {{ "N/A" }}</td>
                {% else %}
                    {% for key, value in x.items %}
                        <td> {{ value }}</td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
{#    </tr>#}
  </tbody>
</table>

